<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/d88d3a614a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="image-area">
		<div class="img-wrapper">
            <img class="img" src="image/DSC_5530.JPG" alt="Foto de perfil">
            <p>Nataly Estefanía Caudillo Ramírez<br>
            Ingeniería en Sistemas Computacionales<br>
            <br>23 años</p>

			<ul>
				<li><a href="https://github.com/NatalyRE43"><i class="fab fa-github"></i></a></li>
				<li><a href="https://www.instagram.com/natalycaudillo/"><i class="fab fa-instagram"></i></a></li>
				<li><a href="https://twitter.com/natacaudillo"><i class="fab fa-twitter"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UCKnFSAUOBrT3DVrc3PkU6Mw"><i class="fab fa-youtube"></i></a></li>
			</ul>
		</div>
	</div>
</body>
</html>